.logo{
    display: inline;
    width: 10%;
    height: 50;
}
.caixa{
    position:relative;
    width:940px;
    margin: 0 auto;
}
header{
    background: gray;
    padding: 20px 0;
}
nav{
    position: absolute;
    text-align: center;
    vertical-align: middle;
    top: 40px;
    right:0;
}
nav li{
    display: inline;
    margin: 0 0 0 15px;
}
nav a{
    text-transform: uppercase;
    color: black;
    font-weight: bold; /*Aumenta a grossura da linha */
    font-size: 22px;
    text-decoration: none /*Tira a o sublinhado;*/
}
main form{
    margin: 0 auto;
    width: 940px;
    padding: 8px;
    font-size: 20px;
}
main form label{
    display: block;
    margin: 0 auto;
    padding: 2px;
    font-size: 20px;
}

 form small{
    font-size: 14px;
    font-weight: bold; 
    font-style: italic;
}

.formulário{
    display:block;
    font-size: 20px;
    margin:0 0 8px;
}
.formulário_text{
    display:block;
    font-size: 15px;
    margin:0 0 8px;
    padding: 0 15px;
}
.texto_caixa_de_Selecao {
    font-size: 18px;
}

.formulário_envio{
    display:block;
    font-size: 10px;
    margin:0 0 8px;
}
input[type='radio']:after {
    width: 10px;
    height: 10px;
    border-radius: 15px;
    top: -1px;
    left: -1px;
    position: relative;
    background-color: black;
    content: '';
    display: inline-block;
    visibility: inherit;
    border: 2px solid gold;
}
input[type='radio']:checked:after {
    width: 10px;
    height: 10px;
    border-radius: 15px;
    top: -1px;
    left: -1px;
    position: relative;
    background-color: gold;
    content: '';
    display: inline-block;
    visibility: visible;
    border: 2px solid black;
}
input[type='checkbox']:after {
    width: 10px;
    height: 10px;
    top: -2px;
    left: 0px;
    position: relative;
    background-color: black;
    content: '';
    display: inline-block;
    visibility: visible;
    border: 2px solid gold;
}
input[type='checkbox']:checked:after {
    width: 10px;
    height: 10px;
    top: -2px;
    left: 0px;
    position: relative;
    background-color: gold;
    content: '';
    display: inline-block;
    visibility: visible;
    border: 2px solid black;
}
.formulário_envio{
    margin: 20px 0;
    width: 30%;
    padding: 12px 0;
    background: gold;
    color:black;
    font-weight: bold;
    font-size: 15px;
    border: none;
    transition: 1s all;
    cursor: pointer;
    pointer-events: painted;
}
.formulário_envio:hover{
    background:darkgoldenrod;
    transform: scale(1.1);
}
table {
    margin: 20px 0 40px;
}

thead {
    background: lightgray;
    color: gray;
    font-weight: bold;
}

td, th {
    border: 1px solid #000000;
    padding: 8px 15px;
}
footer{
    display:inline;
    text-align: center;
    background: lightblue;
}
.rodapé{
    width: 5%;
    height: 12;
}
.element{
    caret-color: aqua;
}